/* base */
@import '../base/base.css';
@import '../base/layout.css';



/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';



/* components */
@import '../components/button.css';
@import '../components/input.css';
@import '../components/logo.css';



/* custom style below this comment line */
.hero-section {
    background-image: url(../../img/hero-section-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 40px 83px ;
    border-radius: 15px;
 
}

/* .logo {
    width: 3rem;
}
.main-title {
    font-size: 4,5rem;
    text-transform: uppercase;
    text-align: center;
}
.main-description {
    font-size: 1.25rem;
    text-align: center;

}
footer.container {
    padding-top: 0;
}

footer .row {
    position: relative;
}

footer .row > .btn {
    position: absolute;
    top: -1.5em;
    right: -1.5em;
}

.socials {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1.3rem;
    border-bottom:  1px solid white;
    padding: 20px 0;
    margin-bottom: 2rem;

}
.socials >a {
    height: 3em;
    width: 3em;
    line-height: 3em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
}

.row.socials >a:hover {
    background-color: #fff;
    color:#03a9f3;
}

footer.container > .row-short {
    gap: 0;
    color: #fffb;
    font-size: 1.1rem;
    text-align: center;

}

footer > .row-short a {
    color: #fff;
    text-decoration: none;
    
}

.footer-logo {
    height: 2.5rem;
    margin-bottom: 2rem;
}

.text-trio > p {
    position: relative;

}

.text-trio > p::after {
    content: " ";
    display: none;
    display: inline-block;
    width: 0.1rem;
    height: 1rem;
    background-color: #fff;
    position: absolute;
    right: -0.9rem;
    top: 50%;
    transform: translateY(-50%);

    }
 */
/* 
.text-trio > p:last-child::after {
   display: none;
    }

    
@media (min-width: 44rem) {
.text-trio {
   display: flex;
   gap: 1.7rem;
}
.text-trio > p::after {
    display: block;

    }
} */



